/* add css module styles here (optional) */

.test {
  margin: 2em;
  padding: 0.5em;
  border: 2px solid #000;
  font-size: 2em;
  text-align: center;
}

.margin{
  margin: 5px;
}

.fixed-card{
  min-height: 400px;
  max-height: 400px;
  padding: 10px;
  overflow-y: auto;
}

.buttonWidth{
  width: 50px;
  margin: 5px;
}

.no-padding{
  padding-left: 0px;
}
